<footer class="container-fluid bg-light">
    <div class="row">
        <section class="col">
            Política de privacidad
        </section>
        <section class="col">
            Política de cookies
        </section>
        <section class="col">
            Contáctame
        </section>
    </div>
</footer>